.container {
  .box {
    width: 100%;
    margin-bottom: 15px !important;
    padding: 0 !important;
    break-inside: avoid;
  }
  .box img {
    max-width: 100%;
    border-radius: 20px;
    .image {
      border-radius: 36px;
    }
  }
  .user-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    .avatar {
      border-radius: 50%;
      width: 25px;
    }
    .user-name {
      margin-left: 2%;
      font-size: 12px !important;
      font-weight: 600;
      line-height: 0.2
    }
    .caption{
      margin-left: 2%;
      font-size: 12px !important;
      line-height: 0.2
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    columns: 6;
  }
}

@media (max-width: 1000px) {
  .container {
    width: calc(100% - 40px);
    columns: 4;
    .user-img {
      .avatar {
        border-radius: 50%;
        width: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    columns: 3;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 2;
  }
}
